<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body class="loggedin">
    <nav class="navtop">
      <div>
        <h1>Mini Calculator</h1>
        <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
        <a href="{{ url_for('profile') }}"
          ><i class="fas fa-home"></i>Profile</a
        >
        <a href="{{ url_for('logout') }}"
          ><i class="fas fa-sign-out-alt"></i>Logout</a
        >
      </div>
    </nav>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue" id="footer">
    <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2020 Copyright: A Simple Calculator made by cuonghv98
      </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </body>
</html>
